<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wallpad.ventilation">

    <uses-permission android:name="com.wallpad.permission.deviceStatus" />

    <application
        android:allowBackup="true"
        android:icon="?attr/KDIcon"
        android:name="com.wallpad.ventilation.Ventilation"
        android:label="@string/STR_VENTILATION"
        android:supportsRtl="true"
        android:theme="@style/KDWallPad.Dark.CotaCharcoal">
        <activity
            android:name="com.wallpad.ventilation.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>